<div class="mn--superior">
    <a href="/BIBLIOTECA/biblioteca.html" class="link-super">
        <i data-lucide="layers"></i>
        <span>abre tu biblioteca</span>
    </a>

    <a href="#" class="link-super">
        <i data-lucide="music"></i>
        <span>tus audio resumenes</span>
    </a>
</div>

<div class="mn--direct">
    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="tus-temas-favoritos">
            <i data-lucide="heart"></i>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="terror">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-terror2.webp" type="image/webp">
                <img src="/IMAGENES/imagen-terror2.jpg" loading="lazy">        
            </picture>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="astronomia">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-astronomia2.webp" type="image/webp">  
                <img src="/IMAGENES/imagen-astronomia2.jpg" loading="lazy">       
            </picture>
        </a>
    </nav>
    
    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="neurociencia">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-neurociencia2.webp" type="image/webp">  
                <img src="/IMAGENES/imagen-neurociencia2.jpg" loading="lazy"> 
            </picture>
        </a>
    </nav>
    
    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="economia">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-economia.webp" type="image/webp">  
                <img src="/IMAGENES/imagen-economia.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>
    
    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="arte">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-arte.webp" type="image/webp">  
                <img src="/IMAGENES/imagen-arte.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>
    
    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="naturaleza">
            <picture>
                <source srcset="/LIBRO1/IMG.WEBP/imagen-naturaleza.webp" type="image/webp">  
                <img src="/LIBRO1/IMAGENES/imagen-naturaleza.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="religion">
            <picture>
                <source srcset="/LIBRO1/IMG.WEBP/imagen-religion.webp" type="image/webp">  
                <img src="/LIBRO1/IMAGENES/imagen-religion.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="espiritual">
            <picture>
                <source srcset="/IMAGENES/IMAGENES.WEBP/imagen-espiritual.webp" type="image/webp">  
                <img src="/IMAGENES/imagen-espiritual.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="ciencia">
            <picture>
                <source srcset="/LIBRO1/IMG.WEBP/imagen-espiritual.webp" type="image/webp">  
                <img src="/LIBRO1/IMAGENES/imagen-espiritual.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>

    <nav class="nav--lateral">
        <a href="#" class="bx--link" data-category="novelas">
            <picture>
                <source srcset="/LIBRO1/IMG.WEBP/imagen-espiritual.webp" type="image/webp">  
                <img src="/LIBRO1/IMAGENES/imagen-espiritual.jpg" loading="lazy">      
            </picture>
        </a>
    </nav>
</div>
    
