<header class="hero-bgn">                            
    <nav class="box-principal">
        <div class="nav-left">
    
            <div class="container-logo">          
                <h1 class="logo-text-principal">
                    <span>X</span>
                </h1>          
            </div>
            
            <div class="container-flechas">
                <div class="box-flechas">
                    <a href="#" data-page="#" class="link-flecha-left">
                        <span class="box-icon-left">
                            <i data-lucide="chevron-left"></i>
                        </span>
                    </a>
                </div>
                
                <div class="box-flechas">
                    <a href="#" class="link-flecha-right">
                        <span class="box-icon-right">
                            <i data-lucide="chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
            
        <div class="box-iconos">
            <nav class="nav__mn">
                <div class="search--book">
                    <a href="/HOME/NeuroX.principal.html" class="bx--home">
                        <i class="icon--home" data-lucide="house"></i>
                    </a>

                    <i class="icon--search" data-lucide="search"></i>
                    <input type="text" placeholder="Busca sesiónes, libros, preguntale a AI-X">
                </div>
            </nav>
        </div>
    
        <div class="box-icons-notifi">
            <a href="#" class="box-icons-url">
                <div class="div-notifi">
                    <i data-lucide="bell"></i>
                    <span class="notifi-span">Notificaciones</span>
                </div>
            </a>
    
            <a href="#" class="box-icons-url">
                <div class="div-notifi">
                    <i data-lucide="users"></i>
                    <span class="notifi-span">Amigos</span>
                </div>
            </a>
    
            <div class="box-profile">
                <i id="profile-icon" data-lucide="user"></i>
                <img id="profile-img" alt="Perfil" />
                <span class="profile-span">Alex deyll</span>
            </div>
        </div>
    </nav>
</header>