body {
    min-height: 100vh;
    overflow: hidden;
    
    background: linear-gradient(
        140deg,
        #020617 0%,
        #0f172a 40%,
        #1e293b 70%,
        #1e1b4b 100%
        );
    }

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back-arrow {
    color: #ffffff;

    border-radius: 12px;

    padding: 2px 6px;

    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    display: flex;
    justify-content: center;
}

.back-arrow a {
    text-decoration: none;
    color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    gap: 7px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.back-arrow svg {
    width: 40px;
    height: 40px;
    stroke-width: 1.1;
}

.back-arrow:hover {
    transform: translateY(-50%) translateX(-7px);
}

.bx-brain {  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: white;
    filter: drop-shadow(0 0 8px rgba(99,102,241,0.6));
}

.bx-brain svg {
    width: 48px;
    height: 48px;
    stroke-width: 1.8;
}

@keyframes pulse {
    0%, 100% {opacity: 0.8;}
    50% {opacity: 1;}
}

.logo {
    position: relative;
    width: 100%;
    height: 12vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo-neurox {
    font-size: 30px;
    font-weight: 800;
    color: #e5e7eb;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.logo-neurox span {
    color: #ec4899;
    font-size: 42px;
}

.auth-card {
    position: relative;
    width: 30%;
    height: 84vh;
    margin: auto;

    overflow: hidden;
    animation: aparecer 1s ease-out forwards;

    border-radius: 50px;

    background: rgba(15, 23, 42, 0.65);

    backdrop-filter: blur(10px);
    box-sizing: border-box;

    box-shadow:
        0 0 30px rgba(102, 0, 255, 0.25),
        inset 0 0 40px rgba(255, 255, 255, 0.03);
}

.form {
    position: absolute;
    inset: 0;
    padding: 40px;

    border-radius: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0; 
    transform: translateX(100%);
    transition: transform 0.6s ease;

    color: #eaeaff;
}

.login-form {
    opacity: 1;
    transform: translateX(0);
}

.bx-icon-users {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    background: linear-gradient(135deg,#4f7cff,#a855f7,#ec4899);

    box-shadow:
    0 0 0 2px rgba(168,85,247,.3),
    0 0 20px rgba(168,85,247,.25),
    0 0 40px rgba(236,72,153,.15);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.login-form svg {
    width: 50px;
    height: 50px;
    stroke-width: 1.1;

    transition: transform .26s ease;
}

.bx-icon-users:hover svg {
    transform: translateY(-3px);
}

.register-form {
    opacity: 0;
    transform: translateX(100%);
}

.auth-card.register-active .login-form {
    opacity: 0;
    transform: translateX(-100%);
}

.auth-card.register-active .register-form {
    opacity: 1;
    transform: translateX(0);
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.text-form {
    font-size: 36px;
    font-weight: 600;

    margin: 6px;

    background: linear-gradient(
        to right,
        #93c5fd,
        #c4b5fd,
        #f9a8d4
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-form-2 {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.01em;
    color: #cfcfcf;
    padding-bottom: 30px;


    width: 80%;
    margin: auto;
    margin: 0;
}

.input {
    width: 100%;
    position: relative;
    margin-top: 12px;
}

.input input {
    width: 100%;
    height: 6.5vh;
    padding: 12px;
    padding-top: 20px;
    padding-left: 37px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;
    color: #cfcfcf;

    font-size: 17px;
    letter-spacing: 0.01em;
    outline: none;
    transition: border 0.3s ease;
}

.input input:hover {
    border:1px solid rgba(255,255,255,0.15);
}

.input label {
    position: absolute;
    left: 36px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    color: #cfcfcf;

    transition: 
    transform 0.25s ease,
    font-size 0.25s ease,
    color 0.25s ease;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label {
    transform: translateY(-130%);
    font-size: 12px;
    color: #cfcfcf;
}

.icon-user {
    position: absolute;
    width: 28px;
    height: 28px;

    top: 50%;
    transform: translateY(-50%);
    left: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-user svg {
    width: 18px;
    height: 18px;
    stroke-width: 1.5;
    color: #ffffff;
}

.input input:focus {
    border:1px solid rgba(99,102,241,0.6);
    box-shadow:
    0 0 0 2px rgba(99,102,241,0.15),
    0 6px 20px rgba(0,0,0,0.35);
    
    background: rgba(255,255,255,0.05);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.toggle-password {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #bcbcbc;

    display: flex;
    align-items: center;

    transition: transform .25s ease;
}

.toggle-password:hover {
    color: #ffffff;
    transform: translateY(-50%) scale(1.1);
}

.toggle-password svg {
    width: 23px;
    height: 23px;
    stroke-width: 1.5;
}

.terms {
    margin-top: 14px;

    color: #cbd5f5;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 15px;
}

.terms label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.terms input {
    width: 18px;
    height: 18px;
    accent-color: #6366f1;
    cursor: pointer;
}

.terms a {
    color: #60a5fa;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.box-button {
    width: 100%;
    margin-top: 2em;
}

.button-entrar {
    width: 100%;
    padding: 14px;

    background: linear-gradient(
        90deg,
        #3b82f6 0%,
        #6366f1 35%,
        #8b5cf6 65%,
        #ec4899 100%
    );

     box-shadow:
        0 0 25px rgba(99, 102, 241, 0.6),
        0 0 45px rgba(236, 72, 153, 0.4);

    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;

    border: none;
    border-radius: 18px;

    cursor: pointer;
    transition: transform .20s ease, box-shadow .20s ease;
}

.button-entrar:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 35px rgba(99, 102, 241, 0.8),
        0 0 60px rgba(236, 72, 153, 0.6);
}

.switch {
    margin-top: 10px;

    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 16px;

    animation: aparecer 1s ease-out forwards;
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.switch span {
    background: linear-gradient(
        to right,
        #93c5fd,
        #c4b5fd,
        #f9a8d4
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;
    font-weight: 600;
    font-size: 16px;

    display: inline-flex;

    transition: transform .25s ease;
}

.switch span:hover {
    transform: translateX(6px);
    text-shadow:
        0 0 35px rgba(99, 102, 241, 0.8),
        0 0 60px rgba(236, 72, 153, 0.6);
}




